/* || Test connection to index.html */
body {
  margin: 24px;
}

body.home {
  background-image:url("../images/blue_skies_on_pluto-final-2_75percent.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-color:black;
}

/* TODO Try different backgrounds */
body.megamillions {
  background-image:url("../images/blue_skies_on_pluto-final-2_25percent.png");
  background-repeat:no-repeat;
  background-color:black;
}

body.powerball {
  background-image:url("../images/blue_skies_on_pluto-final-2_25percent.png");
  background-repeat:no-repeat;
  background-color:black;
}

body.stateLotteries {
  background-image:url("../images/blue_skies_on_pluto-final-2_25percent.png");
  background-repeat:no-repeat;
  background-color:black;
}

body.about {
  background-image:url("../images/blue_skies_on_pluto-final-2_25percent.png");
  background-repeat:no-repeat;
  background-color:black;
}
/* TODO Try different backgrounds */

h1 {
  margin-left: 1em;
  color:antiquewhite;
}

th,td {
  color:antiquewhite;
}

td.lotteryLink {
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
}

li.active {
  background-color: black;
}

nav.navbar-fixed-bottom {
  background-color: black;
}